{% extends "admin/layout.html" %}

{% block content %}

<h2>All Blogs</h2>

<a href="{{ url_for('create_blog') }}" class="btn-primary">+ Create New Blog</a>

<table border="1" cellpadding="10" cellspacing="0">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Actions</th>
    <th>Status</th>
  </tr>

  {% for blog in blogs %}
  <tr>
    <td>{{ blog.title }}</td>
    <td>{{ blog.created_at.strftime('%d %b %Y') }}</td>
    <td>
      <a href="{{ url_for('blog_detail', slug=blog.slug) }}" class="btn-primary">View</a>
      <a href="{{ url_for('edit_blog', blog_id=blog.id) }}" class="btn-primary">Edit</a>

      <form action="{{ url_for('delete_blog', blog_id=blog.id) }}"
            method="POST"
            style="display:inline;">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <button type="submit"
                onclick="return confirm('Delete this blog?')" class="btn-danger">
          Delete
        </button>
      </form>

      <form action="{{ url_for('toggle_blog_status', blog_id=blog.id) }}"
            method="POST"
            style="display:inline;">

        <input type="hidden"
              name="csrf_token"
              value="{{ csrf_token() }}">

        {% if blog.is_published %}
          <button type="submit">Unpublish</button>
        {% else %}
          <button type="submit">Publish</button>
        {% endif %}
      </form>
    </td>
    <td>
      {% if blog.is_published %}
        <span style="color:green;">Published</span>
      {% else %}
        <span style="color:orange;">Draft</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}
