<!-- <!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<header style="padding:20px; display:flex; justify-content:space-between;">
  <h2>Admin Dashboard</h2>
  <a href="{{ url_for('change_admin_credentials') }}" class="btn-primary">
    Change Credentials
  </a>
  <a href="{{ url_for('admin_logout') }}" class="btn-primary">Logout</a>
</header>

<section style="padding:20px;">
<table border="1" cellpadding="12" width="100%">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Project Type</th>
  <th>Budget</th>
  <th>Date</th>
</tr>

{% for i in inquiries %}
<tr>
  <td>{{ i.full_name }}</td>
  <td>{{ i.email }}</td>
  <td>{{ i.project_type }}</td>
  <td>{{ i.budget }}</td>
  <td>{{ i.created_at.strftime('%d %b %Y') }}</td>
</tr>
{% endfor %}
</table>
</section>

</body>
</html> -->

{% extends "admin/layout.html" %}

{% block content %}
<h1>Dashboard</h1>

<div class="stats">
  <div class="card">
    <h3>Total Inquiries</h3>
    <p>{{ inquiries_count }}</p>
  </div>
</div>
{% endblock %}
