{% extends "admin/layout.html" %}

{% block content %}
<h1>Dashboard</h1>

<div class="stats">
  <div class="card">
    <h3>Total Inquiries</h3>
    <p>{{ inquiries_count }}</p>
  </div>
  <div class="card">
    <h3>Total Blogs</h3>
    <p>{{ total_blogs }}</p>
  </div>
  <div class="card">
    <h3>Published Blogs</h3>
    <p>{{ published }}</p>
  </div>
  <div class="card">
    <h3>Draft Blogs</h3>
    <p>{{ drafts }}</p>
  </div>
  <div class="card">
    <h3>Total Views</h3>
    <p>{{ total_views }}</p>
  </div>
  <!-- <div class="card">
    <h3>Average SEO Score</h3>
    <p>{{ seo_score }}</p>
  </div> -->
</div>
{% endblock %}
